<template>
  <v-card @click="selectJob" class="job-item mt-4">
    <img class="company-logo" :src="job.company_logo" />
    <v-subheader>
      <time-ago class="mr-1" :datetime="job.created_at"></time-ago> ago
      <span class="dot-separator">.</span>
      <span class="ml-1">{{ job.type }}</span>
    </v-subheader>
    <v-card-title
      class="headline d-block subtitle-1 text-truncate d-block font-weight-bold py-1"
    >
      {{ job.title }}
    </v-card-title>
    <v-subheader class="d-block">
      {{ job.company }}
    </v-subheader>
    <v-subheader class="d-block primary--text font-weight-bold">
      {{ job.location }}
    </v-subheader>
  </v-card>
</template>

<script>
import { TimeAgo } from 'vue2-timeago'
export default {
  components: { TimeAgo },
  props: {
    job: {
      type: Object,
      required: true,
    },
  },
  methods: {
    selectJob() {
      this.$store.dispatch('setSelectedJob', this.job)
      this.$router.push(`/job/${this.job.id}`)
    },
  },
}
</script>
<style lang="scss" scoped>
.company-logo {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 0.8rem;
  border-top-left-radius: 0.8rem!important;
  border-top-right-radius: 0.8rem!important;
  margin-top: -1.5rem;
  margin-left: 2rem;
}
.job-item {
  height: 12rem;
}
</style>
