<template>
  <v-row class="my-3 mx-1">
    <v-card class="col-12 px-3 py-0" rounded="2" elevation="1">
      <v-col cols="12">
        <v-row class="align-center">
          <v-text-field
            class="mx-4"
            v-model="term"
            label="Filter by title, companies, experties..."
            clearable
          ></v-text-field>
          <v-text-field
            class="mx-6"
            v-model="location"
            label="Filter by location..."
            clearable
          ></v-text-field>

          <v-checkbox
            class="mx-6"
            v-model="isFullTime"
            label="Full time only"
          ></v-checkbox>

          <v-btn @click="search" class="ml-3" depressed color="primary">
            Search
          </v-btn>
        </v-row>
      </v-col>
    </v-card>
  </v-row>
</template>
<script>
export default {
  data() {
    return {
      term: '',
      isFullTime: false,
      location: '',
    }
  },
  mounted() {
    const queryParams = this.$route.query

    this.term = queryParams.term
    this.isFullTime = queryParams.isFullTime
    this.location = queryParams.location

    if (this.term || this.isFullTime || this.location) this.search()
  },
  methods: {
    search() {
      this.$emit('changed', {
        term: this.term || undefined,
        location: this.location || undefined,
        isFullTime: this.isFullTime || undefined,
      })
    },
  },
}
</script>
