.theme--dark.v-text-field > .v-input__control > .v-input__slot:before {
  border: none;
}
.theme--light.v-text-field > .v-input__control > .v-input__slot:before {
  border: none;
}

.theme--dark.v-skeleton-loader .v-skeleton-loader__article, .theme--dark.v-card {
  background-color: hsl(219, 29%, 14%)!important;
}
