<template>
  <v-row>
    <v-col cols="12" class="mt-n8">
      <v-card>
        <v-card-text>
          <v-col cols="12">
            <v-row v-if="job" class="align-items-center justify-space-between">
              <img class="company-logo" :src="job.company_logo" />
              <v-card-title
                class="headline flex-grow-1 d-block subtitle-1 text-truncate d-block font-weight-bold py-1"
              >
                {{ job.title }}
                <v-subheader class="d-block">
                  {{ job.company }}
                </v-subheader>
              </v-card-title>
              <a :href="job.company_url" class="d-flex align-center">
                <v-btn class="ml-3" depressed color="primary">
                  Company site
                </v-btn>
              </a>
            </v-row>
          </v-col>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col cols="12">
      <v-card>
        <v-card-text v-html="data" class="pa-4"> </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
import { mapState } from 'Vuex'
export default {
  layout: 'jobPage',
  computed: {
    ...mapState({ job: 'selectedJob' }),
  },
  mounted() {
    if (!this.job) this.$router.push('/')
  },
  async asyncData({ $axios, params }) {
    const res = await $axios.get(`/positions/${params.id}`)
    return { data: res.data }
  },
}
</script>

<style lang="scss" scoped>
.company-logo {
  width: 4rem;
  height: 4rem;
}
::v-deep {
  .v-subheader {
    height: auto;
  }
  ul {
    list-style: none;
    margin-bottom: 2rem
  }
  a {
    text-decoration: none;
  }
  h1 {
    margin-bottom: 2rem;
  }
}
</style>