<template>
  <v-app>
    <div class="main mainbg">
      <header class="header d-flex align-item-center">
        <v-container
          class="justify-space-between d-flex align-center mx-5 mx-lg-auto mx-md-auto"
        >
          <p class="headline white--text">devjobs</p>
          <div class="d-flex justify-space-between align-items-center">
            <v-icon class="white--text"> mdi-white-balance-sunny </v-icon>
            <v-switch
              class="ml-3"
              v-model="$vuetify.theme.dark"
              inset
              persistent-hint
            ></v-switch>
            <v-icon class="white--text">mdi-moon-waning-crescent</v-icon>
          </div>
        </v-container>
      </header>
      <v-main>
        <v-container>
          <nuxt />
        </v-container>
      </v-main>
    </div>
    <v-footer :absolute="!fixed" app>
      <span></span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Devjobs',
    }
  },
}
</script>
<style lang="scss" scoped>
.header {
  background: url('~assets/svg/bg-pattern-header.svg') no-repeat center;
  border-bottom-left-radius: 20rem;
  background-size: cover;
  height: 8rem;
}

.main {
  min-height: 100vh;
}

::v-deep {
  .theme--dark.v-input--switch .v-input--switch__track {
    background: #fff;
  }
}
</style>
