<template>
  <v-row justify="center" align="center">
    <v-col>
      <search-box class="mt-n9" @changed="updateData" />
      <v-row v-if="!jobs || !jobs.length">
        <v-col cols="12" sm="6" md="4" lg="4">
          <v-skeleton-loader type="article"></v-skeleton-loader>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4">
          <v-skeleton-loader type="article"></v-skeleton-loader>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4">
          <v-skeleton-loader type="article"></v-skeleton-loader>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4">
          <v-skeleton-loader type="article"></v-skeleton-loader>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4">
          <v-skeleton-loader type="article"></v-skeleton-loader>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="4">
          <v-skeleton-loader type="article"></v-skeleton-loader>
        </v-col>
      </v-row>
      <v-row class="mt-5 justify-center">
        <v-col
          v-for="(job, index) in jobs"
          :key="index"
          cols="12"
          sm="6"
          md="4"
          lg="4"
        >
          <job :job="job" />
        </v-col>
        <v-col
          v-if="jobs"
          cols="12"
          class="justify-lg-center justify-md-center d-flex justify-center"
        >
          <v-btn class="ml-3" depressed color="primary" @click="loadMore">
            Load More
          </v-btn>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import Logo from '~/components/Logo.vue'
import SearchBox from '~/components/pages/index/SearchBox.vue'
import Job from '~/components/pages/index/Job.vue'

export default {
  components: {
    Logo,
    SearchBox,
    Job,
  },
  data() {
    return {
      jobs: null,
      page: 1,
    }
  },
  mounted() {
    this.$axios.get('/positions.json').then((res) => {
      this.jobs = res.data
    })
  },
  methods: {
    updateData(data) {
      this.jobs = []
      this.$router.push({
        path: this.$route.path,
        query: { ...data, page: this.page },
      })

      this.$axios
        .get(
          `/positions.json?${data.term ? 'decription=' + data.term : ''}${
            data.location ? '&location=' + data.location : ''
          }${data.isFullTime ? '&full_time=' + 'on' : ''}${
            this.page ? '&page=' + this.page : ''
          }`
        )
        .then((res) => {
          if (this.page > 1) this.jobs = [...this.jobs, ...res.data]
          else this.jobs = res.data
        })
    },
    loadMore() {
      this.page++
      this.updateData(this.$route.query)
    },
  },
}
</script>
